services:
  solr:
    image: solr:9
    hostname: solr
    ports:
      - "8983:8983"
    networks: [solr]
    user: 8983:8983:8983
    environment:
      ZK_HOST: "zoo:2181"
    depends_on:
      zoo:
        condition: service_healthy
    volumes:
      - ./runtime/data:/var/solr
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8983/solr/?wt=json" ]
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 3

  zoo:
    image: zookeeper:3.9
    hostname: zoo
    networks: [solr]
    ports:
      - "2181:2181"
    environment:
      ZOO_4LW_COMMANDS_WHITELIST: "mntr,conf,ruok"
    healthcheck:
      test: /bin/zkCli.sh localhost:2181 ls / &> /dev/null
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 5

  client:
    build: ./solr_java_client
    restart: no
    hostname: client
    environment:
      APP_CLIENT_ZOOKEEPER_CLUSTER: zoo:2181
    networks: [solr]
    depends_on:
      zoo:
        condition: service_healthy
      solr:
        condition: service_healthy

networks:
  solr:
    driver: bridge
